<div fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between">
  <h2 mat-dialog-title>{{isEdit ? 'Edit' : 'Add'}} Experience</h2>
  <i class="material-icons closeIcon" (click)="close()">close</i>
</div>
<form [formGroup]="form" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Company Name</mat-placeholder>
        <input type="text" required formControlName="companyname" matInput>
        <mat-hint *ngIf="form.controls.companyname.invalid">Company Name is required</mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Company Url</mat-placeholder>
        <input type="text" formControlName="companyurl" matInput>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <input matInput required type="text" placeholder="Role" formControlName="role" [matAutocomplete]="roleauto" (ngModelChange)='filterRoles($event)'>
        <mat-hint *ngIf="form.controls.role.invalid">Role is required</mat-hint>
        <mat-autocomplete #roleauto="matAutocomplete">
          <mat-option *ngFor="let option of filteredroles" [value]="option">
            {{ option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="Country" formControlName="country" [matAutocomplete]="autoCountry" (ngModelChange)='filterCountries($event)'>
        <mat-autocomplete #autoCountry="matAutocomplete">
          <mat-option *ngFor="let option of filteredCountries" [value]="option.name">
            {{ option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>City</mat-placeholder>
        <input type="text" formControlName="city" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <input matInput [matDatepicker]="fromDate" formControlName="from" placeholder="From Date">
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
		<mat-hint>MM/DD/YYYY</mat-hint>
      </mat-form-field>
      <mat-datepicker #fromDate></mat-datepicker>
      <mat-form-field fxFlex>
        <input matInput [matDatepicker]="toDate" formControlName="to" placeholder="To Date">
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
		<mat-hint>MM/DD/YYYY</mat-hint>
      </mat-form-field>
      <mat-datepicker #toDate></mat-datepicker>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-hint>{{dateMessage}}</mat-hint>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-radio-group fxLayout="row" fxLayoutGap="48px" formControlName="type" fxFlex>
        <mat-radio-button value="fulltime" [checked]="true">Full Time</mat-radio-button>
        <mat-radio-button value="parttime">Part Time</mat-radio-button>
      </mat-radio-group>
    </div>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="close()">CANCEL</button>
    <button mat-raised-button (click)="saveForm($event)" [disabled]="form.invalid">SAVE</button>
  </mat-dialog-actions>
</form>
