.forgot-password {
  // display: block;
  // background: #e8e8e8;
  // background-size: cover;
  height: 100%;
  width: 100%;
  .session-card{
    width: auto !important;
    .content{
      padding: 24px 24px 48px;
    }
    .title{
      padding: 0 24px;
    }
  }
}

.forgot-password::after {
  content: "";
   background: #000 url('/assets/img/backgrounds/background.jpg') no-repeat center center fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.stepper-btn{
    margin: 30px auto 0px !important;
}

.stepper-btn-top{
    margin-top: 30px !important;
}

.mat-horizontal-content-container{
padding-bottom: 0 !important;
}

.back-to-login{
  margin-top: -24px !important;
}

.custom-mat-error{color: red;     position: absolute;
    left: 0;
    bottom: -18px;
    font-size: 11px;}

    .error{
      margin-top: 40px;
    }