<fury-loading-overlay [isLoading]="isLoading"></fury-loading-overlay> 
<div class="forgot-password" fxLayout="row" fxLayoutAlign="center center">
    <div class="session-card">
        <div class="header" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/img/red-logo.png" class="card-logo" /> 
        </div>
        <div class="content" fxLayout="column" fxLayoutGap="24px">
        <div class="title">Reset password </div>
        <div class="form-wizard" furyPage furyScrollbar fxLayout="column" fxLayoutAlign="start center">
          <div class="card">
            <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
              <mat-step [stepControl]="sendCodeFormGroup">
                <form [formGroup]="sendCodeFormGroup">
                  <ng-template matStepLabel>Create Verification code</ng-template>

                  <div fxLayout="column" fxLayoutGap="8px">
                    <mat-form-field>
                      <mat-placeholder>Email</mat-placeholder>
                      <input matInput formControlName="email" required>
                      <mat-hint>Enter your registered email to recieve verification code.</mat-hint>
                    </mat-form-field>
                  </div>
                   <p class="error" *ngIf='error'><mat-icon>error</mat-icon><span>{{error}}</span></p>
                  
                  <div class="actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <button class="stepper-btn link" mat-raised-button type="button" (click)="sendCode(stepper)" [disabled]="sendCodeFormGroup.invalid" color="primary">SEND VERIFICATION CODE</button>
                    <!-- <button mat-raised-button matStepperNext color="primary" [disabled]="accountFormGroup.invalid">NEXT</button> -->
                  </div>
                </form>
              </mat-step>

              <mat-step [stepControl]="resetpasswordFormGroup">
                <form [formGroup]="resetpasswordFormGroup">
                  <ng-template matStepLabel>Select a Password</ng-template>
                  <!-- <div class="subheading">Enter your password you will use to log in.</div>     -->

                  <div fxLayout="column" fxLayoutGap="20px">
                    <mat-form-field>
                      <mat-placeholder>Email</mat-placeholder>
                      <input matInput formControlName="email" required>
                       <mat-hint>Enter your registered email to recieve verification code.</mat-hint> 
                    </mat-form-field>

                    <mat-form-field>
                      <mat-placeholder>Code</mat-placeholder>
                      <input matInput formControlName="code" required>
                      <mat-hint>Enter the verification code received in your email.</mat-hint>
                    </mat-form-field>


                    <div fxFlex fxLayout="column" fxLayoutGap="20px">
                        <mat-form-field fxFlex="grow">
                            <mat-placeholder>New password</mat-placeholder>
                            <input matInput [type]="inputType" required formControlName="password">
                            <button *ngIf="!visible" type="button" mat-icon-button matSuffix (click)="showPassword()">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button *ngIf="visible" type="button" mat-icon-button matSuffix (click)="hidePassword()">
                                <mat-icon>visibility_off</mat-icon>
                            </button>
                            <mat-hint>Password has to be minimum 8 characters in length, must contain atleast one digit.</mat-hint>
                            <mat-error *ngIf="resetpasswordFormGroup.controls.password.errors?.pattern">Password has to be minimum 8 characters in length, must contain atleast one digit.</mat-error>
                            <mat-error *ngIf="resetpasswordFormGroup.controls.password.errors?.required">Password is mandatory.</mat-error> 
                        </mat-form-field>
                    </div>

                    <p class="error" *ngIf='error'><mat-icon>error</mat-icon><span>{{error}}</span></p>

                  <div class="actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <button class="stepper-btn-top link" mat-button type="button" matStepperPrevious color="primary">PREVIOUS</button>
                    <button class="stepper-btn-top link" mat-raised-button matStepperNext color="primary" (click)="setNewPass()" [disabled]="resetpasswordFormGroup.invalid">SET PASSWORD </button>
                  </div>
                  </div>
                </form>
              </mat-step>

            </mat-horizontal-stepper>

             <!-- <p class="error">{{error}}</p> -->
             
          </div>
        </div>
        <a class="back-to-login link" [routerLink]="['/login']" >Back to login</a>
        </div>
    </div>
</div> 

