<div class="footer" fxLayout="row" *ngIf="visible">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" fxFlex="grow">

    <div class="name" fxHide fxShow.gt-sm style="font-size:12px">
      <span>Copyright © 2018 The Red Bangle Film Collaborative Private Limited | </span>
      <a href="https://www.redbangle.com/terms-of-service/" target='_blank' class="terms">Terms of services &amp; Privacy policy.</a>
    </div>
  </div>
  <!-- <div fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-icon-button (click)="visible = false">
      <mat-icon class="close">close</mat-icon>
    </button>
  </div> -->
</div>
