  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between">
    <h2 mat-dialog-title> Contact us</h2>
    <i class="material-icons closeIcon" (click)="close()">close</i>
  </div>
  
  <div fxFlex fxFlexFill class="contact-left" fxLayout="column" fxLayoutGap='30px'>
    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>mail_outline </mat-icon>
        <a href="mailto:sunil@redbangle.com">sunil@redbangle.com</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>phone </mat-icon>
        <span>+91 93826 64321 / +91 99626 88200</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-icon>home </mat-icon>
        <span style="line-height: 24px;">The Red Bangle Film Collaborative,<br />2nd Floor, Silver Rock, <br />12, Nandi Durga Road, <br />Bengaluru,<br /> Karnataka 560046</span>
    </div>
  </div>
  <!-- <div fxFlex="20" fxFlexFill class="contact-right" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap='20px'>
      <a href='https://www.facebook.com/redbanglefilms/' target="_blank"><img src="../../../assets/icons/icon_facebook.png" /> </a>
      <a href='https://twitter.com/redbanglefilms' target="_blank"><img src="../../../assets/icons/icon_twitter.png" /> </a>
      <a href='https://www.instagram.com/redbanglefilmcollaborative/' target="_blank"><img src="../../../assets/icons/icon_instagram.png" /> </a>
      <a href='https://www.linkedin.com/company/redbanglefilms' target="_blank"><img src="../../../assets/icons/icon_linkedin.png" /> </a>
      <a href='https://www.youtube.com/channel/UCbPlh2ukO1Qz6Ib2fY724QQ' target="_blank"><img src="../../../assets/icons/icon_youtube.png" /> </a>
   </div> -->
<!-- <div mat-dialog-content>
Contact us
</div> -->