.login {
  display: block;
  // background: #fff url('/assets/img/backgrounds/background.jpg') no-repeat center center fixed;
  // background-size: cover;
  // background: #e8e8e8;
  height: 100%;
  // width: 100%;
  // opacity: 0.5;
  //   filter: alpha(opacity=50);
}

.login::after {
  content: "";
   background: #000 url('/assets/img/backgrounds/background.jpg') no-repeat center center fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.extra-options button{
    width: 200px;
}