<fury-loading-overlay [isLoading]="isLoading"></fury-loading-overlay>
<div class="verify" fxLayout="row" fxLayoutAlign="center center">
    <div class="session-card">
        <div class="header" fxLayout="column" fxLayoutAlign="center center">
           <img src="assets/img/red-logo.png" class="card-logo" /> 
        </div>
        <form class="content" fxLayout="column" fxLayoutGap="24px" [formGroup]="form">
            <div class="title">Verify Account</div>
            <p class="bold">Account needs to be verified before signing in. Please check the registered email id for verification code.</p>
            <div fxFlex fxLayout="column" fxLayoutGap="15px">
                <mat-form-field fxFlex="grow">
                    <mat-placeholder>Email</mat-placeholder>
                    <input matInput required formControlName="email" (keydown)="keyDownFunction($event)">
                    <mat-hint>Enter the registered email id.</mat-hint>
                    <mat-error *ngIf="form.controls.email.errors?.required">Email is required.</mat-error>
                    <mat-error *ngIf="form.controls.email.errors?.email">Email must be a valid email address.</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="grow">
                    <mat-placeholder>Code</mat-placeholder>
                    <input matInput required formControlName="code" (keydown)="keyDownFunction($event)">
                    <mat-hint>Enter the code received in your email.</mat-hint>
                    <mat-error>Code is required.</mat-error>
                </mat-form-field>
            </div>
            <p class="error" *ngIf='error'><mat-icon>error</mat-icon><span>{{error}}</span></p>
            <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
                <button type="button" class="verify-btn" color="primary" mat-raised-button [disabled]="form.invalid" (click)="verifyAccount()">
                    VERIFY
                </button>
            </div>
            <p class="extra">
                Already have an account? <a [routerLink]="['/login']">Sign in here</a>
            </p>

            <!-- <p class="error">{{error}}</p> -->
        </form>
    </div>
</div>